snippet ddd "YYYY-MM-DD hh:mm" w
`date +%Y-%m-%d\ %H:%M`
endsnippet


snippet svn
Happy `date +%A` $1!
Permissions have been set for you on
${VISUAL}

Have fun!
endsnippet


snippet sb
#!/bin/bash
endsnippet
