snippet s
std::
endsnippet

snippet so
std::cout
endsnippet

snippet se
std::endl
endsnippet

snippet pi
<<
endsnippet

snippet cl
class $1
{
	$2
};
endsnippet

snippet im
int main(int argc, char * argv[])
{
	$1
return 0
}
endsnippet
