snippet pf
	file { '$1':
		path => '$2',
		ensure => 'present',
		replace => true,
		owner => '$3',
		group => '$4',
		mode => '$5',
		source => 'puppet:///modules/$6',
	}
endsnippet

snippet pe
exec { '$1':
	command   => '$2',
						subscribe => $3[$4],
						require   =>  [$5
						]
}
endsnippet

snippet pp
i	package { '${VISUAL}': ensure =>  present,
	}

	service { '${VISUAL}':
		ensure =>   running,
		enable =>   true,
		provider =>   systemd,
	}
endsnippet
