snippet fw
    <port protocol="tcp" port="${VISUAL}"/>
endsnippet

snippet f1
    <port protocol="${VISUAL}" port="
endsnippet

snippet rr
<rule family="ipv4">
    <source address="${VISUAL}"/>
    <accept/>
</rule>
endsnippet
